BlankTemplate/
BrazilianPortuguese/
ChineseSimplified/
ChineseTraditional/
English/
French/
German - kopie/
German - kopie/chapter.introduction.csv
German-pred-merge-notes/
German-zaloha-one-word/
German-zaloha-one-word - kopie/
German-zaloha-one-word - kopie German.cz.origo/
German.cz.origo/
German.last-predgit/
Localization/
Japanese/
Russian/
Spanish/